.sign-form__input {
  background-color: black;
  color: white;
  margin: 0 auto 30px;
  padding-bottom: 13px;
  border: 1px solid black;
  border-bottom: 2px solid #cccccc;
  width: 358px;
  box-sizing: border-box;
  outline: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
