.header__path {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  
  text-align: right;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
}

.header__path:hover{
  opacity: 0.6; 
}